/* body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  /* margin: 5px;
  height: auto; */
  /* width: 500px; */
  background: teal;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.create-update-form {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
  background: aqua;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.form-group {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
} */
